<nav class="fixed bottom-0 left-0 right-0 z-30">
    <div class="bg-white/80 dark:bg-slate-900/95 backdrop-blur-xl border-t border-slate-200 dark:border-slate-800 pb-8 pt-3 px-6 flex justify-between items-center">
        
        <a class="flex flex-col items-center gap-1 {% if request.resolver_match.url_name == 'dashboard_page' %}text-primary{% else %}text-slate-400{% endif %}" 
           href="{% url 'dashboard_page' %}">
            <span class="material-symbols-outlined" {% if request.resolver_match.url_name == 'dashboard_page' %}style="font-variation-settings: 'FILL' 1"{% endif %}>dashboard</span>
            <span class="text-[10px] font-bold">Asosiy</span>
        </a>
        
        <a class="flex flex-col items-center gap-1 {% if request.resolver_match.url_name == 'products_page' %}text-primary{% else %}text-slate-400{% endif %}" 
           href="{% url 'products_page' %}">
            <span class="material-symbols-outlined" {% if request.resolver_match.url_name == 'products_page' %}style="font-variation-settings: 'FILL' 1"{% endif %}>inventory_2</span>
            <span class="text-[10px] font-bold">Ombor</span>
        </a>
        
        <div class="relative -top-1">
            <a href="{% url 'sotuv_page' %}">
                <div class="size-12 rounded-full {% if request.resolver_match.url_name == 'sotuv_page' %}bg-primary text-white{% else %}bg-slate-900 dark:bg-white text-white dark:text-slate-900{% endif %} flex items-center justify-center shadow-lg transition-colors">
                    <span class="material-symbols-outlined {% if request.resolver_match.url_name == 'sotuv_page' %}text-white{% endif %}">barcode_scanner</span>
                </div>
            </a> 
        </div>
        
        <a class="flex flex-col items-center gap-1 {% if request.resolver_match.url_name == 'monitoring_page' %}text-primary{% else %}text-slate-400{% endif %}" 
           href="{% url 'monitoring_page' %}"> <span class="material-symbols-outlined" {% if request.resolver_match.url_name == 'monitoring_page' %}style="font-variation-settings: 'FILL' 1"{% endif %}>bar_chart</span>
            <span class="text-[10px] font-bold">Hisobot</span>
        </a>
        
        <a class="flex flex-col items-center gap-1 {% if request.resolver_match.url_name == 'profile_page' %}text-primary{% else %}text-slate-400{% endif %}" 
           href="{% url 'profile_page' %}"> <span class="material-symbols-outlined" {% if request.resolver_match.url_name == 'profile_page' %}style="font-variation-settings: 'FILL' 1"{% endif %}>person</span>
            <span class="text-[10px] font-bold">Profil</span>
        </a>

    </div>
</nav>